In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
print(df)
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

        one       two     three
a  0.717968 -1.543002  0.119682
c -0.427879  0.623199 -0.464336
e -0.136530  0.276483  1.685801
f -0.857744 -0.814300 -0.859236
h -1.689757  0.616792 -1.144762
        one       two     three
a  0.717968 -1.543002  0.119682
b       NaN       NaN       NaN
c -0.427879  0.623199 -0.464336
d       NaN       NaN       NaN
e -0.136530  0.276483  1.685801
f -0.857744 -0.814300 -0.859236
g       NaN       NaN       NaN
h -1.689757  0.616792 -1.144762

REPLACING THE MISSING VALUES

In [ ]:
#replace missing values by 0
df = pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print(df)
print("Nan replaced with'0:")
print(df.fillna(0))

        one       two     three
a -0.273544  0.859666  0.073991
b       NaN       NaN       NaN
c -0.667880 -0.694275  0.206447
Nan replaced with'0:
        one       two     three
a -0.273544  0.859666  0.073991
b  0.000000  0.000000  0.000000
c -0.667880 -0.694275  0.206447

In [ ]:
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df)
print('-----------------------------------------')
print(df.fillna(method='pad'))

        one       two     three
a  0.393105 -1.142188 -1.689786
b       NaN       NaN       NaN
c  2.139237  0.882590  0.169970
d       NaN       NaN       NaN
e  0.289577  1.340648 -0.723448
f -1.082895  0.190449 -0.017104
g       NaN       NaN       NaN
h  0.406301 -0.769825 -1.320637
-----------------------------------------
        one       two     three
a  0.393105 -1.142188 -1.689786
b  0.393105 -1.142188 -1.689786
c  2.139237  0.882590  0.169970
d  2.139237  0.882590  0.169970
e  0.289577  1.340648 -0.723448
f -1.082895  0.190449 -0.017104
g -1.082895  0.190449 -0.017104
h  0.406301 -0.769825 -1.320637

In [ ]:
df = pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print(df.fillna(method='bfill'))

        one       two     three
a  0.874722  1.153615 -1.366546
b  1.396630 -0.061699  0.113468
c  1.396630 -0.061699  0.113468
d -1.353734  0.353402  1.073171
e -1.353734  0.353402  1.073171
f -0.669302 -0.062935 -1.138330
g -0.400306  0.719867  0.431973
h -0.400306  0.719867  0.431973

DROP THE MISSING VALUES

In [ ]:
print(df.dropna())

        one       two     three
a  0.874722  1.153615 -1.366546
c  1.396630 -0.061699  0.113468
e -1.353734  0.353402  1.073171
f -0.669302 -0.062935 -1.138330
h -0.400306  0.719867  0.431973

In [ ]:
df=pd.read_csv("/content/2,1 dataset titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
cols=['Name','Ticket','Cabin']
df=df.drop(cols,axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [ ]:
#drop the rows having no values
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [ ]:
#creating dummie values
dummies=[]
cols=['Pclass','Sex','Embarked']
for col in cols:
  dummies.append(pd.get_dummies(df[col]))
  print(df)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0              1         0       3    male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
885          886         0       3  female  39.0      0      5  29.1250
886          887         0       2    male  27.0      0      0  13.0000
887          888         1       1  female  19.0      0      0  30.0000
889          890         1       1    male  26.0      0      0  30.0000
890          891         0       3    male  32.0      0      0   7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
885        Q
886        S
887        S
889        C
890        Q

[712 rows x 9 columns]
     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0              1         0       3    male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
885          886         0       3  female  39.0      0      5  29.1250
886          887         0       2    male  27.0      0      0  13.0000
887          888         1       1  female  19.0      0      0  30.0000
889          890         1       1    male  26.0      0      0  30.0000
890          891         0       3    male  32.0      0      0   7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
885        Q
886        S
887        S
889        C
890        Q

[712 rows x 9 columns]
     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0              1         0       3    male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
885          886         0       3  female  39.0      0      5  29.1250
886          887         0       2    male  27.0      0      0  13.0000
887          888         1       1  female  19.0      0      0  30.0000
889          890         1       1    male  26.0      0      0  30.0000
890          891         0       3    male  32.0      0      0   7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
885        Q
886        S
887        S
889        C
890        Q

[712 rows x 9 columns]

In [ ]:
#transform the eight columns
titanic_dummies=pd.concat(dummies,axis=1)
print(df)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0              1         0       3    male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
885          886         0       3  female  39.0      0      5  29.1250
886          887         0       2    male  27.0      0      0  13.0000
887          888         1       1  female  19.0      0      0  30.0000
889          890         1       1    male  26.0      0      0  30.0000
890          891         0       3    male  32.0      0      0   7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
885        Q
886        S
887        S
889        C
890        Q

[712 rows x 9 columns]

In [ ]:
df['Age']=df['Age'].interpolate()
print(df)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0              1         0       3    male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
885          886         0       3  female  39.0      0      5  29.1250
886          887         0       2    male  27.0      0      0  13.0000
887          888         1       1  female  19.0      0      0  30.0000
889          890         1       1    male  26.0      0      0  30.0000
890          891         0       3    male  32.0      0      0   7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
885        Q
886        S
887        S
889        C
890        Q

[712 rows x 9 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
data=[[-1,2],[-0.5,6],[0,10],[1,18]]
scaler=MinMaxScaler()
print(scaler.fit(data))
print('---------')
MinMaxScaler()
print(scaler.data_max_)
print('---------')
print(scaler.transform(data))

MinMaxScaler()
---------
[ 1. 18.]
---------
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [ ]:
from numpy import asarray
from sklearn.preprocessing import StandardScaler
data=asarray([[100,0.001],
              [8,0.05],
              [50,0.005],
              [8,0.07],
              [4,0.1]])
print(data)
scaler=StandardScaler()
scaled=scaler.fit_transform(data)
print(scaled)

[[1.e+02 1.e-03]
 [8.e+00 5.e-02]
 [5.e+01 5.e-03]
 [8.e+00 7.e-02]
 [4.e+00 1.e-01]]
[[ 1.78131326 -1.16389967]
 [-0.70172947  0.12639634]
 [ 0.43183352 -1.05856939]
 [-0.70172947  0.65304778]
 [-0.80968784  1.44302493]]